extends layout

block content
    section.detection-section
        .detection-content
            h1 Object Detection
            p Experience real-time object detection using our machine learning technology.
            .tech-icons
                i.fas.fa-camera
                i.fas.fa-robot
                i.fas.fa-code
        .detection-video
            #video-container
                video#video(autoplay muted playsinline)
                canvas#canvas
            .button-container
                button#start.btn.primary-btn Start Detection
                button#stop.btn.secondary-btn Stop Detection

    script(src='https://cdn.jsdelivr.net/npm/@tensorflow/tfjs')
    script(src='https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd')
    script(src='/javascripts/detect.js')