doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FindNLog - Object Detection and Logging
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
    body
        if user
            header
                nav
                    .logo FindNLog
                    nav
                        each menuTitle in [...new Set(pages.map(p => p.title))]
                            h3= menuTitle
                            ul
                                each page in pages.filter(p => p.title === menuTitle)
                                    li
                                        a(href=page.pageURL)= page.pageTitle
        main
            block content
        footer
            p &copy; 2024 FindNLog. All rights reserved.