extends layout

block content
    section.welcome-section
        h1 Welcome to FindNLog
        if error
            p.error= error
        else
            p Hello, #{user.email}!
            a(href="/logout") Logout