extends layout

block content
    section.welcome-section
        h1 Welcome to FindNLog
        if error
            p.error= error
        else
            p Hello, #{user.email}!

            nav.user-nav
                each menuTitle in [...new Set(pages.map(p => p.menuTitle))]
                    h3= menuTitle
                    ul
                        each page in pages.filter(p => p.menuTitle === menuTitle)
                            li
                                a(href=page.pageURL)= page.pageTitle

            a(href="/logout") Logout